.container {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.background {
	position: relative;
	opacity: 0.5;
	height: 0;
	z-index: -1;
	overflow: inherit;
}

.background-image {
	margin: 0 auto;
	min-height: 100vh;
	object-fit: contain;
}

.title-container {
	margin: 1em;
	text-align: center;
	backdrop-filter: blur(10px);
	background-color: rgba(250, 250, 250, 0.25);
}

.title-header {
	margin: 0;
	padding: 1.5em 2em 0;
}

.title-header-subheading-top {
	letter-spacing: 0.25em;
}

.title-header-main {
	margin: 0.75em 0;
}

.title-header-main-inline {
	font-size: 5rem;
	line-height: 1em;
	font-weight: normal;
	display: inline-block;
}

.title-header-subheading-bottom {
	margin: 0.2em 0;
	letter-spacing: .5em;
}

.link-list {
	margin: 1.5em auto 0;
	padding: 1em 0 0;
	border-top: 1px solid rgb(158, 158, 158);
}

.pickup-list {
	margin: 1em auto 0;
}

.copyright {
	margin: 3em 0 1em;
}
