@import "assets/styles/color.scss";

.container {
  padding: 0.4rem 1.6rem;
  border-radius: 0.4rem;
  text-align: center;
}

.default {
  color: $color-default-main-text;
  background: $color-default-main;
  transition: background 0.3s;

  &:hover {
    background: darken($color-default-main, 20%);
  }

  &:active {
    background: lighten($color-default-main, 10%);
  }
}

.primary {
  color: $color-primary-dark-text;
  background: $color-primary-dark;
  transition: background 0.3s;

  &:hover {
    background: darken($color-primary-dark, 20%);
  }

  &:active {
    background: lighten($color-primary-dark, 10%);
  }
}

.secondary {
  color: $color-secondary-dark-text;
  background: $color-secondary-dark;
  transition: background 0.3s;

  &:hover {
    background: darken($color-secondary-dark, 20%);
  }

  &:active {
    background: lighten($color-secondary-dark, 10%);
  }
}
