@import "./palette.scss";

$color-default-text: $palette-color-black;
$color-default-main: $palette-color-light-gray;
$color-default-dark: $palette-color-dark-gray;
$color-default-light: $palette-color-white;
$color-default-main-text: $palette-color-black;
$color-default-dark-text: $palette-color-white;
$color-default-light-text: $palette-color-black;
$color-primary-main: $palette-color-teal;
$color-primary-dark: $palette-color-dark-teal;
$color-primary-light: $palette-color-light-teal;
$color-primary-main-text: $palette-color-black;
$color-primary-dark-text: $palette-color-white;
$color-primary-light-text: $palette-color-black;
$color-secondary-main: $palette-color-blue;
$color-secondary-dark: $palette-color-dark-blue;
$color-secondary-light: $palette-color-light-blue;
$color-secondary-main-text: $palette-color-black;
$color-secondary-dark-text: $palette-color-white;
$color-secondary-light-text: $palette-color-black;
